- content_for(:title, 'Your Profile')

.container
	%legend 
		Profile for #{@user.first_name} #{@user.last_name}
		.col-md-12
			%h6.col.md-4
			%h4 Name:  #{@user.first_name} #{@user.last_name}
			%h4 Email:  #{@user.email}
			%h4 Phone Number:  #{phone(@user.phone_number)}
			%h4 Birthday: #{format_date(@user.birthday)}
			= link_to 'Return to Users', users_path, :class => "btn btn-success"
			.col.md-8